{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <div>

{#    {% image self.banner_image fill-400x400 as img %}#}

    <div class="jumbotron">
      <h1 class="display-4">{{ self.banner_title }}</h1>
      <p class="lead">{{ self.banner_subtitle|richtext }}</p>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      {% if self.banner_cta %}
        <a class="btn btn-primary btn-lg" href="{{ self.banner_cta.url }}" role="button">button</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}
