{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}
  {% image self.blog_image fill-1200x300 as banner %}

  <img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%; height: auto">
  <div class="container mt-5">
    <div class="text-center">
      {{ self.custom_title }}
    </div>
    <div>
      <ul>
        {% for obj in self.blog_authors.all %}
          {% image obj.author.image fill-100x100 as img %}
          <li><img src="{{ img.url }}" alt="{{ obj.author.name }}">
            {{ obj.author.name }}{% if obj.author.website %}
              <a href="{{ obj.author.website }}">(Website)</a>{% endif %}</li>
        {% endfor %}
      </ul>
    </div>
    <h2>Categories</h2>
    <ul>
      {% for cat in self.categories.all %}
        <li><a href="{{ self.get_parent.url }}?category={{ cat.slug }}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
    <hr>
    {% for block in self.content %}
      {% include_block block %}
    {% endfor %}
  </div>
{% endblock content %}
